<div class="row">
   <div class="col-8">
<img id="imagen" src="../../../assets/logo/logo.png" alt="">
   </div>
  <div id="datos" class=" col-4">
    <div id="data">
      <div  id="contenedor">
        <input id="dni" style="background-color: #E9E8E8;" class="form-control" [(ngModel)]="dni" type="dni" maxlength="8" placeholder="usuario"> <br><br>
        <input id="contra" style="background-color: #E9E8E8;" class="form-control" [(ngModel)]="password" type="password" placeholder="contraseña">
        <br> <br>
        <button id="inicioSesion"  (click)="goToHome()">INGRESAR</button> <br> <br>
        <button id="registrarse" (click)="goToRegister()">REGISTRARSE</button>
        <button id="recuperar" (click)="goToRecovery()">RECUPERAR</button>

    </div>
  </div>
 </div>
</div>

