<div class="row">
   <div class="col-8 partImg">
<!-- <img id="imagen" src="../../../assets/logo/logo.png" alt=""> -->
   </div>
  <div id="datos" class=" col-4">
    <div id="data">
      <div  id="contenedor">
        <input id="usuario"  class="form-control" [(ngModel)]="email" type="email" placeholder="usuario"> <br>
        <input id="contra"  class="form-control" [(ngModel)]="password" type="password" placeholder="contraseña">
          <div *ngIf="serviceError" class="error">El dni o la contraseña no corresponden. Por favor, vuelvalo a intentar</div>
        <br> <br>
        <button id="inicioSesion"  (click)="goToHome()">INGRESAR</button> <br> <br>
<button id="recuperar" (click)="goToRecovery()">RECUPERAR CONTRASEÑA</button>
    </div>
  </div>
 </div>
</div>

